<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Footer-->
<footer class="bg-white py-4 mt-auto" th:fragment="footer">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0">Copyright &copy; Deepanshi Website 2025</div></div>
            <div class="col-auto">
                <a class="small" href="https://bennettu-my.sharepoint.com/:w:/g/personal/e22cseu0693_bennett_edu_in/EfsGQSXaT39Cjk-TattOspEBZUJkfeKLbpX_MrUoZGo--A?e=aPAks3">Privacy</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="https://bennettu-my.sharepoint.com/:w:/g/personal/e22cseu0693_bennett_edu_in/EbgNmYOkKwxEl_H7fkDNvSYB7rIYR1rDrvgn6fpxgbovjA?e=6Qh0aj">Terms</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="mailto:d4jain.sj@gmail.com">Email Me</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>