<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>

</head>
    <body >


            <!-- Projects Section-->
            <section class="py-5" th:fragment="projects">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Help♀Her</h2>
                                            <p>Help♀Her is a social initiative I co-founded to empower and support women by providing resources, mentorship, and a safe community for growth. Through this project, we have organized awareness campaigns, skill-building workshops, and networking opportunities to help women navigate challenges in education, careers, and entrepreneurship. Leading this initiative has strengthened my ability to drive impactful social change, collaborate with diverse teams, and leverage technology for meaningful solutions.</p>
                                            <h3  class="fw-bolder"> Tech Stacks: </h3>
                                            <p>•Java •Google API •FullStack</p>
                                        </div>
<!--                                        <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />-->
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 2-->
                            <div class="card overflow-hidden shadow rounded-4 border-0">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">DSA Learning APP</h2>
                                            <p> The DSA Learning App is my final-year project, designed as an interactive chat-based teaching assistant for Data Structures and Algorithms (DSA) problems. The application allows users to submit LeetCode problem links along with their doubts, receiving guided hints and insights powered by GPT to enhance problem-solving skills without direct solutions. Built using Java and Spring Boot, the project focuses on a clean and intuitive chat interface, seamless backend integration, and well-structured prompts to facilitate learning. This experience has deepened my expertise in backend development, API integration, and AI-driven learning solutions. </p>
                                            <h3  class="fw-bolder"> Tech Stacks: </h3>
                                            <p>•Java •SpringBoot •Rest •ChatGPT API</p>
                                        </div>
<!--                                        <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />-->
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="card overflow-hidden shadow rounded-4 border-0">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">For More Projects</h2>
                                            <p>Refer my <a href="github.com/d4jain">GitHub</a> or my <a href="#">Resume</a></p>

                                        </div>
                                        <!--                                        <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="contact.html">Contact me</a>
                        <h2 class="display-4 fw-bolder mb-4">For More Projects, Check my Resume</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="contact.html">Resume</a>
                    </div>
                </div>
            </section>




    </body>
</html>
