<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>

</head>
    <body >


            <!-- Page Content-->
            <div class="container px-5 my-5" th:fragment="resume">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                                <!-- Download resume button-->
                                <!-- Note: Set the link href target to a PDF file within your project-->
                                <a class="btn btn-primary px-4 py-3" href="https://drive.google.com/file/d/1RifIOPluzkzJ_eUTsJK4XV8KlUTSlrMB/view?usp=drive_link">
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                    Download Resume
                                </a>
                            </div>
                            <!-- Experience Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">June,2024 - October,2024</div>
                                                <div class="small fw-bolder">Software Developer Intern</div>
                                                <div class="small text-muted">Multiplayr</div>
                                                <div class="small text-muted">Remote</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>As a Software Developer Intern at Multiplayr, I worked on developing and optimizing frontend and backend systems, gaining hands-on experience in building real-world applications. I contributed to frontend development and API testings, database management, and performance optimization, enhancing my skills in Full Stack, Postman, and API Testing. I improved my problem-solving and thinking abilities and understanding of software architecture. This experience strengthened my expertise in development, debugging, and writing clean, maintainable code, preparing me for larger-scale software engineering challenges.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">Jan,2024 - Dec,2024</div>
                                                <div class="small fw-bolder">Secretary</div>
                                                <div class="small text-muted">Spark E-Cell</div>
                                                <div class="small text-muted">Bennett University</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div> As the Secretary of Spark E-Cell, I played a key role in fostering entrepreneurship and innovation at Bennett University. I organized many large-scale and small-scale events, managed partnerships with startups, investors and other college E-Cells, and led initiatives to support student entrepreneurs. Through this role, I gained valuable experience in leadership, event organization and management, communication, and strategic planning. I also honed my problem-solving skills, teamwork, and the ability to execute large-scale events, all of which have strengthened my organizational and managerial abilities.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Education Section-->
                        <section>
                            <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2022 - 2026</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Bennett University</div>
                                                    <div class="small text-muted">Greater Noida, India</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">B.Tech - 9.71 CGPA</div>
                                                    <div class="small text-muted">Computer Science Engineering</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div> During my time at Bennett University, I have gained a strong foundation in software development, data structures, and algorithms, with hands-on experience in Java, Spring Boot, and web technologies. I have worked on diverse projects, including a GPT-powered DSA learning assistant and multiple web applications, refining my problem-solving and coding skills. Beyond academics, my leadership roles in Spark E-Cell and Bennovate 3.0 have enhanced my event management, teamwork, and strategic planning abilities. Moreover I have participated in Chess Tournaments and various volunteering events during first two years of my college.Through internships, hackathons, and collaborative projects, I have developed a well-rounded skill set, preparing me for real-world challenges.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">

                                            <div class="parent" style="display: flex;">
                                                <div class="left-box" style="flex: 1; padding: 10px; background-color: lightblue;">
                                                    <div class="bg-light p-4 rounded-4">
                                                        <div class="text-secondary fw-bolder mb-2">2020-2022</div>
                                                        <div class="mb-2">
                                                            <div class="small fw-bolder">Pradhan Public School</div>
                                                            <div class="small text-muted">Agra, UP</div>
                                                        </div>
                                                        <div class="fst-italic">
                                                            <div class="small text-muted">12th - 93.4%</div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="right-box" style="flex: 1; padding: 10px; background-color: lightblue;">
                                                    <div class="bg-light p-4 rounded-4">
                                                        <div class="text-secondary fw-bolder mb-2">2020-2022</div>
                                                        <div class="mb-2">
                                                            <div class="small fw-bolder">Pradhan Public School</div>
                                                            <div class="small text-muted">Agra, UP</div>
                                                        </div>
                                                        <div class="fst-italic">
                                                            <div class="small text-muted">12th - 93.4%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div></div></div>
                                    </div>
                                </div>
                            </div>

                        </section>
                        <!-- Divider-->
                        <div class="pb-5"></div>
                        <!-- Skills Section-->
                        <section>
                            <!-- Skillset Card-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <!-- Professional skills list-->
                                    <div class="mb-5">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">DSA in Java</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Software Development</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Data Analyst</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Network Security</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Adobe Software Suite</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">User Interface Design</div></div>
                                        </div>
                                    </div>
                                    <!-- Languages list-->
                                    <div class="mb-0">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Java</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SpringBoot</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS/Semantic CSS/Tailwind CSS</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                                        </div>
                                        <br>

                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Node.js</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">React</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100"></div></div>
                                        </div>
                                        <br>

                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">MySQL</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">MongoDB</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">PostgresSQL</div></div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <div class="pb-5"></div>

                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Coding Profiles</h2>
                                <!-- Download resume button-->
                                <!-- Note: Set the link href target to a PDF file within your project-->

                            </div>

                            <!-- Experience Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">

                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="parent" style="display: flex;">
                                                    <div class="left-box" style="flex: 1; padding: 10px; background-color: lightblue;">
                                                        <a href="https://leetcode.com/u/d4jain/">Leetcode</a>
                                                    </div>

                                                    <div class="right-box" style="flex: 1; padding: 10px; background-color: lightblue;">
                                                        <a href="https://www.hackerrank.com/profile/d4jain_sj">Hackerrank</a>
                                                    </div>
                                                    <div class="left-box" style="flex: 1; padding: 10px; background-color: lightblue;">
                                                        <a href="https://www.geeksforgeeks.org/user/d4jaiparl/">GeeksForGeeks</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
            </div>



    </body>
</html>
